.bg-tablet {
  background-image: url(source/tablet.png);
}
.bg-lemon {
  background-image: url(source/lemon.png);
}
.bg-folder {
  background-image: url(source/folder.png);
}
.bg-tag {
  background-image: url(source/tag.png);
}
.bg-mail {
  background-image: url(source/mail.png);
}
.bg-flag {
  background-image: url(source/flag.png);
}
.bg-pc {
  background-image: url(source/pc.png);
}
.bg-laptop {
  background-image: url(source/laptop.png);
}
.bg-mobile {
  background-image: url(source/mobile.png);
}
.bg-puzzle {
  background-image: url(source/puzzle.png);
}
.bg-download {
  background-image: url(source/download.png);
}
.bg-customers {
  background-image: url(source/customers.png);
}
.bg-like {
  background-image: url(source/like.png);
}
.bg-location {
  background-image: url(source/location.png);
}
.bg-mail-small {
  background-image: url(source/mail-small.png);
}
.bg-phone {
  background-image: url(source/phone.png);
}