@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
  margin: 0;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 225px;

  &__title {
    width: 100%;
    margin: 0;
    margin-bottom: .4em;
    font-size: 2em;
    text-align: center;
  }

  &__description {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 81.5px;
    padding: 0 110px;
    text-align: center;
    font-size: 1.25em;
    color: $second-color;
  }
}