.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px * 0.78125;
  min-width: 320px;
  background-color: #fcdb00;
  background-image: url(source/arrow-bottom.svg);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position-x: 49.9%;
  background-position-y: 93%;

  &__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    margin-top: -7px;
  }
  &__title {
    margin: 0 0 15px -33px;
    font-size: 48px;
    font-weight: normal;
    
  }

  &__description {
    width: 100%;
    margin: 0 0 42px;
    padding: 0 40px;
    font-size: 1.25em;
    line-height: 1.2;
    text-align: center;
    word-spacing: 0px;
  }

  &__button {
    display: block;
    padding: 0 75px;
    border: 2px solid;
    margin: 0 0 15px -14px;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 50px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
  }
}