.features {
  margin-bottom: 146px;
  &__item {
    box-sizing: border-box;
    max-width: 320px;
    padding-left: 92.1px;
    margin-bottom: 82.2px;
    background-repeat: no-repeat;
    background-position: 27px 1px;

    &-box {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;
    }

    &-title {
      margin-bottom: 8.9px;
      font-size: 1.375em;
      font-weight: bold;
      
    }

    &-description {
      color: $second-color;
    }
  }
}