.footer {
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding-top: 86px;
  margin-top: -150px;
  background-color: #000;
  color: #fff; 

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
  }
  &__address {
    &-box {
      align-items: flex-start;
      width: 25%;
      max-width: 180px;
      padding-left: 28px;
      margin: -115px 0 305px 0;
    }
  }
  &__link {
    &-box {
      flex-flow: row wrap;
      align-items: flex-start;
      width: 70%;
      max-width: 640px;
      margin: -115px 0 305px 0;
      &-column {
        width: 80px;
        margin-right: 80px;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          display: block;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  
  }
}