.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 320px;
  padding: 50px 0 0;
  background-color: #fcdb00;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: inherit;
    width: 100%;
    max-width: 960px;
  }

  &__logo {   
    order: 2;
    box-sizing: inherit;
    width: 160px;
    height: 50px;
    padding-left: 58px;
    background-image: url(source/logo.png);
    background-repeat: no-repeat;
    line-height: 50px;
    letter-spacing: -1px;
    font-size: 2em;
    font-weight: bold;
  }

  &__top-menu {
    order: 1;
    box-sizing: border-box;
    width: 160px;
    padding-top: 9px;
    padding-left: 22px;

    .fas {
      font-weight: bold;
      font-size: 1.3em;
    }
  }

  &__social-connect {
    display: flex;
    order: 3;
    box-sizing: inherit;
    width: 160px;
    padding-left: 30px;
    padding-top: 6px;
    font-size: 1.3em;
    
    .fab {
      display: block;
      width: 25px;
      padding-right: 10px;
      
      &:last-child {
        padding: 0;
      }
    }

    .google-plus {

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(source/google-plus.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: top center;
      }
    }
  } 
}