.portfolio {
  margin-bottom: 197px;
  &__item {
    box-sizing: border-box;
    width: 240px;
    padding: 0 10px;
    margin-bottom: 61px;
    text-align: center;
    &-box {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-top: -17px;
    }
    &-info {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;
      position: absolute;
      bottom: 16px;
      color: #fff;
      font-size: .875em;
    }
    &-view-count {
      padding-left: 26px;
      background-image: url(source/eye.png);
      background-repeat: no-repeat;
    }
    &-post-date {
      padding-right: 30px;
      background-image: url(source/time.png);
      background-repeat: no-repeat;
      background-position: right center;
    }
  }

  &__image {
    &-box {
      margin: 0 0 15px 0;
      position: relative;

      img {
        display: block;
        width: 220px;
        height: 220px;
      }
    }
  }
  &__title {
    margin-bottom: 3px;
    font-size: 1.375em;
    font-weight: bold;
  }
  &__info {
    color: $second-color;
  }
}