.team {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 168px;

    &-box {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 870px;
      max-width: 100%;
      margin-top: -15px;
    }

    &-photo {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      margin-bottom: 37px;
    }

    &-name {
      width: 100%;
      margin-bottom: 4px;      
      font-size: 1.375em;
      text-align: center;
    }

    &-info {
      width: 100%;
      margin-bottom: 9px;
      color: $second-color;
      text-align: center;
    }

    &-description {
      width: 100%;
      margin-bottom: 14.3px;
      font-size: .875em;
      text-align: center;
    }

    &-social-accaunt {
      display: flex;
      justify-content: space-between;
      width: 68.8px;

      a {
        text-decoration: none;
        color: $main-color;
      }
    }
  }
}