@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
:root {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #000;
}

body {
  margin: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 225px;
}
.section__title {
  width: 100%;
  margin: 0;
  margin-bottom: 0.4em;
  font-size: 2em;
  text-align: center;
}
.section__description {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 81.5px;
  padding: 0 110px;
  text-align: center;
  font-size: 1.25em;
  color: #898989;
}

.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 320px;
  padding: 50px 0 0;
  background-color: #fcdb00;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: inherit;
  width: 100%;
  max-width: 960px;
}
.header__logo {
  order: 2;
  box-sizing: inherit;
  width: 160px;
  height: 50px;
  padding-left: 58px;
  background-image: url(source/logo.png);
  background-repeat: no-repeat;
  line-height: 50px;
  letter-spacing: -1px;
  font-size: 2em;
  font-weight: bold;
}
.header__top-menu {
  order: 1;
  box-sizing: border-box;
  width: 160px;
  padding-top: 9px;
  padding-left: 22px;
}
.header__top-menu .fas {
  font-weight: bold;
  font-size: 1.3em;
}
.header__social-connect {
  display: flex;
  order: 3;
  box-sizing: inherit;
  width: 160px;
  padding-left: 30px;
  padding-top: 6px;
  font-size: 1.3em;
}
.header__social-connect .fab {
  display: block;
  width: 25px;
  padding-right: 10px;
}
.header__social-connect .fab:last-child {
  padding: 0;
}
.header__social-connect .google-plus::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(source/google-plus.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: top center;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  background-color: #fcdb00;
  background-image: url(source/arrow-bottom.svg);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position-x: 49.9%;
  background-position-y: 93%;
}
.cover__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  margin-top: -7px;
}
.cover__title {
  margin: 0 0 15px -33px;
  font-size: 48px;
  font-weight: normal;
}
.cover__description {
  margin: 0 0 42px;
  padding: 0 40px;
  font-size: 1.25em;
  line-height: 1.2;
  text-align: center;
  word-spacing: 0px;
}
.cover__button {
  display: block;
  padding: 0 75px;
  border: 2px solid;
  margin: 0 0 15px -14px;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 50px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 320px;
  padding-top: 109px;
}
.main__container {
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
}

.features__item {
  box-sizing: border-box;
  max-width: 320px;
  padding-left: 92.1px;
  margin-bottom: 82.2px;
  background-repeat: no-repeat;
  background-position: 27px 1px;
}
.features__item-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
.features__item-title {
  margin-bottom: 8.9px;
  font-size: 1.375em;
  font-weight: bold;
}
.features__item-description {
  color: #898989;
}

.pricing {
  margin-bottom: 185px;
}
.pricing__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 200px;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: top center;
}
.pricing__item-box {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  padding-top: 2px;
  margin-top: -10px;
}
.pricing__item-title {
  width: 100%;
  margin: 0 0 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.pricing__item-description {
  margin: 0 0 40px 0;
  font-size: 0.875em;
  color: #898989;
  text-align: center;
}
.pricing__item-price {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin-bottom: 38px;
}
.pricing__item-price span:nth-of-type(1) {
  display: flex;
  width: 50px;
  padding-bottom: 3px;
  border-bottom: 2px solid;
  margin-bottom: 7px;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
}
.pricing__item-price span:nth-of-type(2) {
  display: block;
  width: 100%;
  text-align: center;
  color: #898989;
  font-size: 0.875em;
}
.pricing__item-button {
  box-sizing: border-box;
  display: block;
  width: 140px;
  padding: 13px 0;
  border: 2px solid;
  font-weight: 900;
  text-transform: uppercase;
  background: none;
}

.portfolio {
  margin-bottom: 260px;
}
.portfolio__item {
  box-sizing: border-box;
  width: 240px;
  padding: 0 10px;
  margin-bottom: 61px;
  text-align: center;
}
.portfolio__item-box {
  display: flex;
  flex-flow: row wrap;
  margin-top: -17px;
}
.portfolio__item-info {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  bottom: 16px;
  color: #fff;
  font-size: 0.875em;
}
.portfolio__item-view-count {
  padding-left: 26px;
  background-image: url(source/eye.png);
  background-repeat: no-repeat;
}
.portfolio__item-post-date {
  padding-right: 30px;
  background-image: url(source/time.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.portfolio__image-box {
  margin: 0 0 15px 0;
  position: relative;
}
.portfolio__image-box img {
  display: block;
  width: 220px;
  height: 220px;
}
.portfolio__title {
  margin-bottom: 3px;
  font-size: 1.375em;
  font-weight: bold;
}
.portfolio__info {
  color: #898989;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 168px;
}
.team__item-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 870px;
  max-width: 100%;
  margin-top: -15px;
}
.team__item-photo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 37px;
}
.team__item-name {
  width: 100%;
  margin-bottom: 4px;
  font-size: 1.375em;
  text-align: center;
}
.team__item-info {
  width: 100%;
  margin-bottom: 9px;
  color: #898989;
  text-align: center;
}
.team__item-description {
  width: 100%;
  margin-bottom: 14.3px;
  font-size: 0.875em;
  text-align: center;
}
.team__item-social-accaunt {
  display: flex;
  justify-content: space-between;
  width: 68.8px;
}
.team__item-social-accaunt a {
  text-decoration: none;
  color: #000;
}

.testimonial {
  margin-top: -44px;
}
.testimonial__item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 160px;
  padding-top: 60px;
  background-position: center top;
  background-repeat: no-repeat;
}
.testimonial__item-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: -35px 0 80px 0;
}
.testimonial__item-number {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.testimonial__item-parameter {
  font-size: 0.875em;
  color: #898989;
}
.testimonial__customer-say {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.testimonial__customer-say-photo {
  width: 104px;
  margin-bottom: 10px;
}
.testimonial__customer-say-name {
  font-size: 1.375em;
  font-weight: bold;
}
.testimonial__customer-say-from {
  margin-bottom: 25px;
  color: #898989;
}
.testimonial__customer-say-quote {
  width: 480px;
  padding: 0 40px;
  margin-left: 75px;
  position: relative;
  font-size: 1.25em;
  quotes: none;
  text-indent: 7px;
  text-align: center;
  color: #898989;
}
.testimonial__customer-say-quote::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -15px;
  top: 10px;
  background-image: url(source/quote-left.svg);
  font-size: 1.5em;
}
.testimonial__customer-say-quote::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -15px;
  bottom: 10px;
  background-image: url(source/quote-right.svg);
  font-size: 1.5em;
}

.contact {
  margin-top: -20px;
}
.contact__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 200px;
  padding-top: 36px;
  background-repeat: no-repeat;
  background-position: top center;
}
.contact__item-box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 730px;
  margin: -30px 0 48px 0;
}
.contact__item-type {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1;
}
.contact__item-value {
  width: 90%;
  font-size: 0.875em;
  color: #898989;
  line-height: 1.1;
  text-align: center;
}
.contact__form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 480px;
}
.contact__form input, .contact__form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  border: 2px solid;
  margin-bottom: 28px;
}
.contact__form textarea {
  height: 210px;
  margin: -10px 0 20px 0;
}
.contact__form button {
  display: block;
  width: 170px;
  padding: 16px 0;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.subscribe__form {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 0 25px 0 35px;
  margin-top: -50px;
}
.subscribe input {
  display: block;
  width: 80%;
  padding: 15px;
  margin-right: 5px;
}
.subscribe button {
  display: block;
  width: 19%;
  padding: 15px 0;
  border: none;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding-top: 96px;
  margin-top: -150px;
  background-color: #000;
  color: #fff;
}
.footer__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
}
.footer__address-box {
  width: 25%;
  max-width: 180px;
  padding-left: 28px;
  margin: -115px 0 305px 0;
}
.footer__link-box {
  display: flex;
  width: 70%;
  max-width: 640px;
  padding-right: 30px;
  margin: -115px 0 305px 0;
}
.footer__link-box-column {
  width: 80px;
  margin-right: 80px;
}
.footer__link-box-column:last-of-type {
  margin-right: 0;
}
.footer__link-box-column a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.bg-tablet {
  background-image: url(source/tablet.png);
}

.bg-lemon {
  background-image: url(source/lemon.png);
}

.bg-folder {
  background-image: url(source/folder.png);
}

.bg-tag {
  background-image: url(source/tag.png);
}

.bg-mail {
  background-image: url(source/mail.png);
}

.bg-flag {
  background-image: url(source/flag.png);
}

.bg-pc {
  background-image: url(source/pc.png);
}

.bg-laptop {
  background-image: url(source/laptop.png);
}

.bg-mobile {
  background-image: url(source/mobile.png);
}

.bg-puzzle {
  background-image: url(source/puzzle.png);
}

.bg-download {
  background-image: url(source/download.png);
}

.bg-customers {
  background-image: url(source/customers.png);
}

.bg-like {
  background-image: url(source/like.png);
}

.bg-location {
  background-image: url(source/location.png);
}

.bg-mail-small {
  background-image: url(source/mail-small.png);
}

.bg-phone {
  background-image: url(source/phone.png);
}

/*# sourceMappingURL=style.css.map */
